.LoginPage{
    display: flex;
    justify-content: center;
    align-items: center;
}


.loginBox{
    width: 25rem;
    height: 25rem;

    background-color: #F1E4C3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginHeading{
    color: #130B05;
    font-size: 4rem;

    margin-bottom: 1rem;
}

.whiteBox{
    background-color: white;
    color: black;
    padding: 1rem;
    width: 70%;
    
}


.password{
    margin-bottom: 2.5rem;
}

.userName{
    margin-bottom: 1rem;
}

.blackBox{
    color: white;
    background-color: #130B05;

    padding: 0.7rem 1rem 0.4rem 1rem;
    font-size: 1.3rem;

    position: relative;
    bottom: 1rem;
    right: 6.8rem;

    font-weight: 700;

    cursor: pointer;
    
}

.finalLink{
    color: black;
    font-size: 1.2rem;
    position: relative;

    bottom: 3rem;
    left: 7rem;
}

.finalLink a{
    color: red;

}

.image{
    width: 12rem;
    position: relative;
    bottom: 2rem;
    /* height: 2rem; */
}

.menu{
    font-size: 4rem;
    /* position: absolute; */
    margin-right: 66.5rem;
    position: relative;
    bottom: 2.5rem;

    background-color: #F1E4C3;
    color: #130B05;

    padding-left: 1rem;
    padding-right: 1rem;

}


.grid-container{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;

    column-gap: 6rem;
    row-gap: 1rem;
}

.grid-item{
    font-size: 2.4rem;
    font-family: 'League Gothic', sans-serif;

    display: flex;
    justify-content: space-between;

}

